*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #626A73;
    color: white;
}

header > h1{
    font-size: 3rem;
}

.logo {
    height: 5rem;
}

.dropbtn {
    background-color: #78745D;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #78745D;
    overflow-x: hidden;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.dropdown-content a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.highlighted {
    background-color: #5D4E37; 
    font-weight: bold; 
}

.dropdown-content a:hover {
    background-color: #929281;
}

.dropdown-content.show {
    display: block;
    right: 0;
    opacity: 1;
}

footer {
    background-color: #626A73;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

address {
    margin: 0;
}