*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #626A73;
    color: white;
}

header > h1{
    font-size: 3rem;
}

.logo {
    height: 5rem;
}

.dropbtn {
    background-color: #78745D;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #78745D;
    overflow-x: hidden;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.highlighted {
    background-color: #5D4E37; 
    font-weight: bold; 
}

.dropdown-content a:hover {
    background-color: #929281;
}

.dropdown-content.show {
    display: block;
    right: 0;
    opacity: 1;
}

.kaartimage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.kaartimage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

footer {
    background-color: #626A73;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 100%;

}

address {
    margin: 0;
}

.infosectie{
    height:260rem;
    width:100vw;
    background:#B9A17D;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:4rem;
}

.infoblok1{
    height:50rem;
    width:130rem;
    border:0.6rem solid #D6BE8A;
    border-radius:4rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-bottom:8rem;
}

.infoblok2{
    height:50rem;
    width:130rem;
    border:0.6rem solid #D6BE8A;
    border-radius:4rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-bottom:8rem;
}

.fotoblok{
    width:45%;
    height:90%;
    background:#A99263;
    border-radius:4rem;
    margin-right:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
}

.textblok{
    flex-wrap: wrap;
    display:flex;
    padding:2rem;
    align-items:center;
    justify-content:center;
    width:45%;
    height:90%;
    font-size:1.5rem;
    background:#A99263;
    border-radius:4rem;
    margin-left:1rem;
    text-align:center;
}

.textblok > p{
    font-size:1.8rem;
    margin-bottom:16rem;
}

.textblok > h3{
    margin-bottom:4rem;
    
}

.textblok2{
    display:flex;
    padding:2rem;
    align-items:center;
    justify-content:center;
    width:45%;
    height:90%;
    font-size:1.5rem;
    margin-right:1rem;
    background:#A99263;
    border-radius:4rem;
}


.fotoblok2{
    width:45%;
    height:90%;
    margin-left:1rem;
    background:#A99263;
    border-radius:4rem;
    display:flex;
    align-items:center;
    justify-content:center;
}

.infoblok3{
    height:60rem;
    width:130rem;
    border:0.6rem solid #D6BE8A;
    border-radius:4rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-bottom:8rem;
}


.textblok3{
    display:flex;
    flex-wrap:wrap;
    padding:2rem;
    align-items:center;
    justify-content:center;
    width:45%;
    height:90%;
    font-size:1.5rem;
    margin-right:1rem;
    background:#A99263;
    border-radius:4rem;
}


.fotoblok3{
    width:45%;
    height:90%;
    margin-left:1rem;
    background:#A99263;
    border-radius:4rem;
    display:flex;
    align-items:center;
    justify-content:center;
}

.fotoblok3 > img{
    width:35rem;
}

.textblok3 > h3{
    font-size:1.4;
    font-weight: 100;
}

.jurkimg{
    width:40%;
    height:90%;
    border-radius:1rem;
}

.schipimg{
    width:80%;
    height:90%;
    border-radius:1rem;
}

.vlagimg{
    width:80%;
    height:90%;
    border-radius:1rem;
}

.lenapeimg{
    width:50%;
    height:90%;
    border-radius:1rem;
}
